<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />
      <title>莫夫技术</title>
<!--      引入css-->
      <link rel="stylesheet" type="text/css" href="../css/reset.css">
      <link rel="stylesheet" type="text/css" href="../css/moftechnology.css">
      
   </head>
   <body>
     
      <!--header-->
      <div id="header">
         <ul>
            <li><a href="../mof.html"><img src="../img/logo.png" class="logo"></a></li>
            <li><a href="mofhost.html">莫夫</a></li>
            <li><a href="../bakeschool/schoolhost.html">烘培学堂</a></li>
            <li><a href="../listfeed/listhost.html">料单</a></li>
            <li><a href="../mofclass/classhost.html">莫夫教室</a></li>
            <li><a href="../mall/mallhost.html">商城</a></li>
            <li><a href=""><img src="../img/search.png" class="search"></a></li>
            <li><a href=""><img src="../img/user.png" class="user"></a></li>
         </ul>
      </div>

      <!--nav-->
      <div id="nav">
         <nav>
            <ul>
               <li><a href="mofproduction.html"><img src="../img/logo.png"><p>作品</p></a></li>
               <li><a href="mofdesign.html"><img src="../img/logo.png"><p>设计</p></a></li>
               <li><a href=""><img src="../img/logo.png"><p>技术</p></a></li>
               <li><a href=""><img src="../img/logo.png"><p>合作</p></a></li>
               <li><a href=""><img src="../img/logo.png"><p>书籍</p></a></li>
            </ul>
         </nav>
      </div>
      
      <!--content-->
      <div id="content">
         <ul class="content_ul">
            <li><img src="../img/mof/moftechnology/1.png"></li>
         </ul>
         <ul class="content_ul">
            <li class="div">莫夫原创设计</li>
            <li>这孩子长大了就是一祸害，你同意吗？师太和贫僧牵手了！</li>
            <li><a href="">查看相关产品 ></a></li>
         </ul>
         <ul class="content_ul">
            <li>手塑设计</li>
            <li>造型技术</li>
            <li>天然色素</li>
            <li>云蛋糕</li>
            <li>星空技术</li>
            <li>中国画技术</li>
            <li>油画设计</li>
            <li>蛋糕月饼</li>
            <li>真人卡通</li>
         </ul>
         
         
         <!--点击切换区域-->
         <div>
            <div class="con">
               <p class="div">手塑设计</p>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shousujishu.png"></li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ululli active">手塑技巧</li>
                  <li class="con_ululli">造型技法</li>
                  <li class="con_ululli">手绘技法</li>
                  <li class="con_ululli">浮雕技法</li>
                  <li class="con_ululli">手刻技法</li>
                  <li class="con_ululli">镂空技法</li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shousu.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/zaoxing.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouhui.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/fudiao.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouke.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/loukong.png"></li>
               </ul>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shoushu.png"></li>
               </ul>
               <div class="con_ulli">
                  <div class="div">相关产品</div>
                  <p><a href="">相关的手塑技术的产品></a></p>
                  <ul class="con_ulimg">
                     <li><img src="../img/mof/moftechnology/shuibei.png"></li>
                     <li><img src="../img/mof/moftechnology/meinv.png"></li>
                     <li><img src="../img/mof/moftechnology/xiaohai.png"></li>
                     <li><img src="../img/mof/moftechnology/xiniu.png"></li>
                     <li><img src="../img/mof/moftechnology/shizi.png"></li>
                     <li><img src="../img/mof/moftechnology/hegao.png"></li>
                  </ul>
               </div>
            </div>
            <div class="con">
               <p class="div">造型技术</p>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/zaoxing.png"></li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ululli active">手塑技巧</li>
                  <li class="con_ululli">造型技法</li>
                  <li class="con_ululli">手绘技法</li>
                  <li class="con_ululli">浮雕技法</li>
                  <li class="con_ululli">手刻技法</li>
                  <li class="con_ululli">镂空技法</li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouhui.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/zaoxing.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shousu.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/fudiao.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouke.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/loukong.png"></li>
               </ul>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shoushu.png"></li>
               </ul>
               <div class="con_ulli">
                  <div class="div">相关产品</div>
                  <p><a href="">相关的手塑技术的产品></a></p>
                  <ul class="con_ulimg">
                     <li><img src="../img/mof/moftechnology/shuibei.png"></li>
                     <li><img src="../img/mof/moftechnology/meinv.png"></li>
                     <li><img src="../img/mof/moftechnology/xiaohai.png"></li>
                     <li><img src="../img/mof/moftechnology/xiniu.png"></li>
                     <li><img src="../img/mof/moftechnology/shizi.png"></li>
                     <li><img src="../img/mof/moftechnology/hegao.png"></li>
                  </ul>
               </div>
            </div>
            <div class="con">
               <p class="div">天然色素</p>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shouhui.png"></li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ululli active">手塑技巧</li>
                  <li class="con_ululli">造型技法</li>
                  <li class="con_ululli">手绘技法</li>
                  <li class="con_ululli">浮雕技法</li>
                  <li class="con_ululli">手刻技法</li>
                  <li class="con_ululli">镂空技法</li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/loukong.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/zaoxing.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouhui.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/fudiao.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouke.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shousu.png"></li>
               </ul>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shoushu.png"></li>
               </ul>
               <div class="con_ulli">
                  <div class="div">相关产品</div>
                  <p><a href="">相关的手塑技术的产品></a></p>
                  <ul class="con_ulimg">
                     <li><img src="../img/mof/moftechnology/shuibei.png"></li>
                     <li><img src="../img/mof/moftechnology/meinv.png"></li>
                     <li><img src="../img/mof/moftechnology/xiaohai.png"></li>
                     <li><img src="../img/mof/moftechnology/xiniu.png"></li>
                     <li><img src="../img/mof/moftechnology/shizi.png"></li>
                     <li><img src="../img/mof/moftechnology/hegao.png"></li>
                  </ul>
               </div>
            </div>
            <div class="con">
               <p class="div">云蛋糕</p>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/fudiao.png"></li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ululli active">手塑技巧</li>
                  <li class="con_ululli">造型技法</li>
                  <li class="con_ululli">手绘技法</li>
                  <li class="con_ululli">浮雕技法</li>
                  <li class="con_ululli">手刻技法</li>
                  <li class="con_ululli">镂空技法</li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/fudiao.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/zaoxing.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouhui.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shousu.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouke.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/loukong.png"></li>
               </ul>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shoushu.png"></li>
               </ul>
               <div class="con_ulli">
                  <div class="div">相关产品</div>
                  <p><a href="">相关的手塑技术的产品></a></p>
                  <ul class="con_ulimg">
                     <li><img src="../img/mof/moftechnology/shuibei.png"></li>
                     <li><img src="../img/mof/moftechnology/meinv.png"></li>
                     <li><img src="../img/mof/moftechnology/xiaohai.png"></li>
                     <li><img src="../img/mof/moftechnology/xiniu.png"></li>
                     <li><img src="../img/mof/moftechnology/shizi.png"></li>
                     <li><img src="../img/mof/moftechnology/hegao.png"></li>
                  </ul>
               </div>
            </div>
            <div class="con">
               <p class="div">星空设计</p>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shouke.png"></li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ululli active">手塑技巧</li>
                  <li class="con_ululli">造型技法</li>
                  <li class="con_ululli">手绘技法</li>
                  <li class="con_ululli">浮雕技法</li>
                  <li class="con_ululli">手刻技法</li>
                  <li class="con_ululli">镂空技法</li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/zaoxing.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shousu.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouhui.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/fudiao.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouke.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/loukong.png"></li>
               </ul>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shoushu.png"></li>
               </ul>
               <div class="con_ulli">
                  <div class="div">相关产品</div>
                  <p><a href="">相关的手塑技术的产品></a></p>
                  <ul class="con_ulimg">
                     <li><img src="../img/mof/moftechnology/shuibei.png"></li>
                     <li><img src="../img/mof/moftechnology/meinv.png"></li>
                     <li><img src="../img/mof/moftechnology/xiaohai.png"></li>
                     <li><img src="../img/mof/moftechnology/xiniu.png"></li>
                     <li><img src="../img/mof/moftechnology/shizi.png"></li>
                     <li><img src="../img/mof/moftechnology/hegao.png"></li>
                  </ul>
               </div>
            </div>
            <div class="con">
               <p class="div">中国画设计</p>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/loukong.png"></li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ululli active">手塑技巧</li>
                  <li class="con_ululli">造型技法</li>
                  <li class="con_ululli">手绘技法</li>
                  <li class="con_ululli">浮雕技法</li>
                  <li class="con_ululli">手刻技法</li>
                  <li class="con_ululli">镂空技法</li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouke.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/zaoxing.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouhui.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/fudiao.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shousu.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/loukong.png"></li>
               </ul>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shoushu.png"></li>
               </ul>
               <div class="con_ulli">
                  <div class="div">相关产品</div>
                  <p><a href="">相关的手塑技术的产品></a></p>
                  <ul class="con_ulimg">
                     <li><img src="../img/mof/moftechnology/shuibei.png"></li>
                     <li><img src="../img/mof/moftechnology/meinv.png"></li>
                     <li><img src="../img/mof/moftechnology/xiaohai.png"></li>
                     <li><img src="../img/mof/moftechnology/xiniu.png"></li>
                     <li><img src="../img/mof/moftechnology/shizi.png"></li>
                     <li><img src="../img/mof/moftechnology/hegao.png"></li>
                  </ul>
               </div>
            </div>
            <div class="con">
               <p class="div">油画设计</p>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shousujishu.png"></li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ululli active">手塑技巧</li>
                  <li class="con_ululli">造型技法</li>
                  <li class="con_ululli">手绘技法</li>
                  <li class="con_ululli">浮雕技法</li>
                  <li class="con_ululli">手刻技法</li>
                  <li class="con_ululli">镂空技法</li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shousu.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/zaoxing.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouhui.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/fudiao.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouke.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/loukong.png"></li>
               </ul>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shoushu.png"></li>
               </ul>
               <div class="con_ulli">
                  <div class="div">相关产品</div>
                  <p><a href="">相关的手塑技术的产品></a></p>
                  <ul class="con_ulimg">
                     <li><img src="../img/mof/moftechnology/shuibei.png"></li>
                     <li><img src="../img/mof/moftechnology/meinv.png"></li>
                     <li><img src="../img/mof/moftechnology/xiaohai.png"></li>
                     <li><img src="../img/mof/moftechnology/xiniu.png"></li>
                     <li><img src="../img/mof/moftechnology/shizi.png"></li>
                     <li><img src="../img/mof/moftechnology/hegao.png"></li>
                  </ul>
               </div>
            </div>
            <div class="con">
               <p class="div">蛋糕月饼</p>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/zaoxing.png"></li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ululli active">手塑技巧</li>
                  <li class="con_ululli">造型技法</li>
                  <li class="con_ululli">手绘技法</li>
                  <li class="con_ululli">浮雕技法</li>
                  <li class="con_ululli">手刻技法</li>
                  <li class="con_ululli">镂空技法</li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/fudiao.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/zaoxing.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouhui.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shousu.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouke.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/loukong.png"></li>
               </ul>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shoushu.png"></li>
               </ul>
               <div class="con_ulli">
                  <div class="div">相关产品</div>
                  <p><a href="">相关的手塑技术的产品></a></p>
                  <ul class="con_ulimg">
                     <li><img src="../img/mof/moftechnology/shuibei.png"></li>
                     <li><img src="../img/mof/moftechnology/meinv.png"></li>
                     <li><img src="../img/mof/moftechnology/xiaohai.png"></li>
                     <li><img src="../img/mof/moftechnology/xiniu.png"></li>
                     <li><img src="../img/mof/moftechnology/shizi.png"></li>
                     <li><img src="../img/mof/moftechnology/hegao.png"></li>
                  </ul>
               </div>
            </div>
            <div class="con">
               <p class="div">真人卡通</p>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shouhui.png"></li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ululli active">手塑技巧</li>
                  <li class="con_ululli">造型技法</li>
                  <li class="con_ululli">手绘技法</li>
                  <li class="con_ululli">浮雕技法</li>
                  <li class="con_ululli">手刻技法</li>
                  <li class="con_ululli">镂空技法</li>
               </ul>
               <ul class="con_ul">
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/loukong.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/zaoxing.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouhui.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/fudiao.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shouke.png"></li>
                  <li class="con_ulliimg"><img src="../img/mof/moftechnology/shousu.png"></li>
               </ul>
               <ul class="con_ul">
                  <li><img src="../img/mof/moftechnology/shoushu.png"></li>
               </ul>
               <div class="con_ulli">
                  <div class="div">相关产品</div>
                  <p><a href="">相关的手塑技术的产品></a></p>
                  <ul class="con_ulimg">
                     <li><img src="../img/mof/moftechnology/shuibei.png"></li>
                     <li><img src="../img/mof/moftechnology/meinv.png"></li>
                     <li><img src="../img/mof/moftechnology/xiaohai.png"></li>
                     <li><img src="../img/mof/moftechnology/xiniu.png"></li>
                     <li><img src="../img/mof/moftechnology/shizi.png"></li>
                     <li><img src="../img/mof/moftechnology/hegao.png"></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      
      <!--联系方式-->
      <div id="footer">
         <ul class="footer-ul1">
            <li><a href=""><img src="../img/qq.png"></a></li>
            <li><a href=""><img src="../img/weixin.png"></a></li>
            <li><a href=""><img src="../img/xinlang.png"></a></li>
            <li><a href=""><img src="../img/tie.png"></a></li>
            <li><a href=""><img src="../img/tengxun.png"></a></li>
         </ul>
         <hr>
         <ul class="footer-ul2">
            <li><a href="">关于匠人之心</a></li>
            <li><a href="">研发团队</a></li>
            <li><a href="">加入我们</a></li>
            <li><a href="">联系我们</a></li>
         </ul>
      </div>
     
      <!--返回顶部-->
      <a href="javascript:;" id="toTop"><img src="../img/toTop.png"></a>
      
      <!--引入js-->
      <script src="../js/jquery-1.8.3.min.js"></script>
      <script src="../js/moftechnology.js"></script>
   </body>
</html>